-
	let bc = [
		{
			'link': '/',
			'title': 'Главная',
		},
		{
			'link': '/section/',
			'title': 'Раздел',
		},
		{
			'title': 'Страница',
		}
	]

.breadcrumb
	ul.breadcrumb__list(itemprop="http://schema.org/breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList")
		each item, i in bc
			li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				if (item.link)
					a.breadcrumb__link(href=item.link title=item.title itemprop="item")
						span(itemprop="name") !{item.title}
						svg(class="icon")
							use(href="#arrow-down")
					meta(itemprop="position" content=i + 1)
				else
					span(title=item.title itemprop="item")
						span(itemprop="name") !{item.title}
					meta(itemprop="position" content=i + 1)

